<h2 class="single-title">登 录</h2>
<div class="m96 clearfix">
    <ul class="login-form">
        <li>
            <!--<em class="username"></em>-->
            <div>
                <input type="text" id="username" class="" placeholder="手机号/邮箱/用户名" />
            </div>
        </li>
        <li>
            <!--<em class="password"></em>-->
            <div>
                <input type="password" id="password" placeholder="6-16位登录密码" />
            </div>
        </li>
        <li>
            <a id="login" class="submit">登&nbsp;录</a>
        </li>
    </ul>
</div>
<div class="half-action">
    <!--<a href="/reg.html">立即注册</a> | <a href="/find_password.html">忘记密码</a>-->
    <a>立即注册</a> | <a>忘记密码</a>
</div>
<footer>
    <p>
        <button (click)="popToAuthorize()">popToAuthorize</button>
        <button (click)="getAccesstoken()">通过code换取access_token</button>
    </p>

</footer>