ion-content{
  position: relative;
  width: 100%;
  background-color: #f5f3f4;
}
.scroll-content{
  border: 1px solid #000000;
}
.list1{
  /*width: 5%;*/
}
.logo{
  width: 3.65%;
  height: 55px;
  background-color: #000;
}
.logo img{
  padding: 4px;
  width: 55px;
  height: 55px;
}
.list{
  /*border-top: 1px solid #000000;*/
}
ion-item img{
  width: 90%;
  background-color:  #383b44;
}
.lists{

  width: 3.65%;
  height: 82.3px;
}
.lists img{
  width:55px;
  height: 83px;
}
.item{
  margin: 0;
  padding: 0;
  background-color: #dddddd;
}
.list :nth-of-type(2n){
  background-color: #FFFFFF;
}
.red{
  height: 52px;
  color: red;


}
.yellow{

}
.yellow:hover{
  background-color: #FFFFFF;
}
.yellow1:hover{
  background-color: #FFFFFF;
}
.blue{
  height: 50px;

}
.red:hover{
  color: red;
  background-color: #FFFFFF;
}
.blue1{
  color: red;
}
.blue1:hover{
  color: red;
  background-color: #FFFFFF;
}
.button{
  border-radius: 0;
  font-size: 18px;
  line-height: 40px;
}
.new{
  width:28.7%;
  left: 0px;
  /*position: absolute;*/

}
.old{
  width:28.7%;
  left: 0px;
  /*position: absolute;*/
}
.style{
  margin: 45px 15px;
  position: relative;
  padding-bottom: 170px;
}
.show1 time{
  position: absolute;
  left: 35%;
  top:5px;
  color: #a7a7a7;
}
.style img{
  top: 16px;
  left: 16px;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: inline-block;
  float: left;
}
.style small{
  position: absolute;
  left: 60px;
  top: 5px;
}
.style div{
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px;
  float: left;
  margin-left: 15px;
  margin-top: 5px;
  background-color: #FFFFFF;
  max-width: 300px;
}
#answer{
  position: relative;
  height: 80px;
  /* border: 1px solid; */
  top: -160px;

}
#answer img{
  display: inline-block;
  float: right;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin: 15px;
}
#answer p{
  padding: 5px;
  border: 1px solid grey;
  line-height: 15px;
  background-color: #9fcd6b;
  float: right;
  border-radius: 5px;
  margin: 25px 0;
  max-width: 300px;

}
.tab_btn{
  width:28.7%;
  top: 0;
  padding: 0;
  border-right: 1px solid #dddddd;
}
.new,.old{
  border: 1px solid #ffffff;
  height: 660px;
  top: 55px;
}
small,.item p,.new_question,time,small b{
  /*background-color:#dddddd;*/

}

.item-avatar{
  height: 59.5px;
  font-size: 15px;
  position: relative;
  max-height: 59.5px;
}

.item-avatar img{
  display: inline-block;
  margin: 5px 0 0 15px;
}
.item-avatar small{
  position: absolute;
  left: 60px;
  top:5px;
}
.item-avatar p{
  position: absolute;
  left: 60px;
  top:35px;
}
.item-avatar small time{
  color: #b9bbba;
}

.search{
  width: 80%;
  font-size: 15px;
  /* height: 25px; */
  /* line-height: 25px; */
  padding: 5px;
  background-color: #ffffff;
  margin-top: 2px;
  position: absolute;
  margin-left: 5px;
}
.ion-ios-search-strong{
  display: inline-block;
  font-size: 33px;
  color: #ffffff;
  background-color: #dcdcdd;
  margin-left: 15px;
  margin-top: 5px;
  position: absolute;
  right: 15px;
  bottom: 5px;
}
.search_div{
  background-color: #dcdcdd;
  height: 40px;
  position: relative;
}
.row1{
  position: absolute;
  left: 28.8%;
  top:0;
  width: 100%;
  border-bottom: 1px solid #dddddd;
}
.btn_list{
  width: 25%;
  height: 53px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-size: 18px;
  line-height: 46px;
}
.blank_1,.choose{
  position: absolute;
  /* border: 1px solid #ffffff; */
  width: 72%;
  /* height: 660px; */
  top: 55px;
  left: 28.6%;
}
.true_time{
  position: absolute;
  /* border: 1px solid #ffffff; */
  width: 72%;
  max-height: 625px;
  top: 55px;
  left: 28.6%;
}
.btn1{
  border: none;
  border-radius: 5px;
  width: 60px;
  height: 30px;
  background-color: #c30d22;
  float: right;
  margin-right: 20px;
  margin-top: 5px;
  color: #ffffff;
}
.show0,.show2{
  /*width: 660px;*/
  height: 660px;
  background-color: #ffffff;
}
.show1{
  height: 560px;
  max-height: 560px;
  overflow: auto;
}
.show1_head{
  border-bottom: 1px solid gray;

}
.show1_head img{
  top: 16px;
  left: 16px;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin: 10px;
}
.show1_head small{
  position: absolute;
  left: 60px;
  top: 15px;
}
.content1{
  background-color: #ffffff;
  font-size: 12px;
  color: #b1b1b1;
  text-align: center;
  margin-top: 5px;
}
.items{
  border-width: 0px;
}
.items img{
  display: block;
}
.content2{
  height: 480px;
  background-color: #ffffff;
  position: relative;

}
.content2 .name{
  position: absolute;
  right: 75px;
  top: 15px;
}
.content_1{
  background-color: #9dcc6a;
  /*overflow: hidden;*/
  /*word-break: break-all;*/
  /*max-width: 400px;*/
  /*font-size: 12px;*/
  /*position: absolute;*/
  /*right: 80px;*/
   /*top: 40px;*/
  /*padding: 10px;*/
  /*z-index: 33;*/
  overflow: hidden;
  word-break: break-all;
  max-width: 400px;
  font-size: 12px;
  position: absolute;
  right: 80px;
  top:40px;
  padding: 10px;
  z-index: 33;
}
.content_2{
  position: absolute;
  left: 15px;
  bottom:150px;
  color: #000000;
  z-index: 666;
  border-width: 0px;
}
.content_2 p{
  border: 1px solid grey;
  border-radius: 4px;
  padding: 7px;
}
.guo{
  left: 30px;width: 200px;z-index: 333;background-color: #fff;border-width: 0;
}
.content_3{
  background-color: #fefefe;
  height: 45px;
  width: 640px;
  border-top: 1px solid #c9c9ca;
  position: absolute;
  left: 15px;
  bottom: -70px;
}
.content_3 input{
  background-color: #fefefe ;
  border: 1px solid #c9c9ca;
  width: 450px;
  height: 35px;
  margin: 5px;
  border-radius: 4px;
  float: left;
}
.content_3 img{
  width: 35px;
  height: 35px;
  margin-top: 5px;
  margin-left: 15px;
  background-color: #fefefe;
  margin-right: 5px;
}
.show2{
  padding-top: 20px;
  background-color: #ffffff;
  position: relative;
}
.show2 table{
  color: #ffffff;
}
.show2 table tr{
 padding-bottom: 15px;
  display: block;
  background-color: #ffffff;
}
.show2 table tr th{
  border: 2px solid #ffffff;
  width: 159px;
  height: 34px;
  margin-left: 5px;
  text-align: center;
  padding-top: 8px;
  font-size: 15px;
  background-color: #09345c;
}
.show2 table tr th span{
  background-color: #09345c;
}
.show2 .list_1{
  left: 30px;

}
.show2 .list_1 button,.show2 .list_2 button{
  display: block;
  background-color: #215b98;
  width: 135px;
  height: 25px;
  color: #ffffff;
  border: none;
  margin: 10px 0 0 10px;

}
.show2 .list_2{
  left: 160px;
}
.show2 .list_3{
  left: 320px;
}
.show2 .list_4{
  left: 480px;
}
.show2 .list_5{
  position: absolute;
  width: 660px;
  height: 45px;
  background-color: #ffffff;
  border-top: 1px solid grey;
  left: 0;
  bottom: 40px;
}

.show2 .list_5 input{
  background-color: #ffffff;
  width: 350px;
  height: 35px;
  float: left;
  margin-top: 10px;
  border: 1px solid grey;
  border-radius:4px;
}
.show2 .list_5 button{
  float: left;
  width: 90px;
  height: 35px;
  background-color: #406aa8;
  margin-top: 10px;
  font-size: 13px;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
  color: #ffffff;
}

.show2 .list_1,.show2 .list_2,.show2 .list_3,.show2 .list_4{
  height: 225px;
  width: 159px;
  /* position: absolute; */
  background-color: #ffffff;
  border: 1px solid grey;
  float: left;
}

.message{
  color: grey;
  height: 30px;
  /* border: 1px solid #000; */
  position: absolute;
  background: #000;
  width: 100%;
  bottom: 0;
}

.message ul{
  float: left;
  padding-top:5px ;
}
.message .ul1{
  margin-left: 20px;

}
.message .ul2,.message .ul3{
  margin-left: 30px;
}
.message ul li{
  display: inline-block;
  text-decoration: none;
  margin-left: 20px;
}

.title1{
  font-size: 14px;
  color: #ffffff;
}
.seachList {
  position: absolute;
  bottom: 33px;
  left: 0px;
  width: 350px;
  height: 300px;
  display: none;
  background-color: #FFFFFF;
  border: 1px solid #888889;
  overflow: auto;
  z-index: 99999;
}
.triangle1{
  position: absolute;
  right: 65px;
  top:50px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-left: 16px solid #9dcc6a;
  border-bottom: 8px solid transparent;
  background-color: #FFFFFF;
  z-index: 666;
}
#sent{
  clear: both;
  width: 100%;
  height: 60px;
  border-top: 1px solid grey;
  position: fixed;
  bottom: 40px;
}
#sent .input1{
  width: 50%;
  height: 35px;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 15px;
  padding: 4px;
  float: left;
}
#sent .input2{
  height: 35px;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 15px;
  padding: 4px;
  float: left;
  width: 6%;
}
#sent button{
  float: left;
  margin: 15px 5px;
  padding: 4px;
  border-radius: 5px;
  width: 10%;
  height: 35px;
  border: 1px solid grey;
  background-color: #9fcd6b;
}
