<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>repository.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18E18DD21C999D68000B84C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18E18DEE1C999D7B000B84C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18E18DF91C999D7C000B84C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
