<ion-view view-title="国泰君安红荔西营业部">
  <ion-nav-buttons side="right" class="bar-assertive">
    <button class="button button-icon"><!--行内按钮图标-->
      <img src="../img(0)/image.png" class="spk">
    </button>
  </ion-nav-buttons>
  <!--内容区-->
  <ion-content>
    <!--大图-->
    <div class="logoo">
      <img src="../img/chats/logoo.jpg">
    </div>
    <!--大图上的文字-->
    <div id="pic_word1">
      <span class="span1">诚信、亲和、</span><span class="span2">专业、创新</span>
    </div>
    <div id="pic_word2">
      <span class="span3">128.2W</span>
      <button >收藏</button>
    </div>

    <!--简介-->
    <div class="jianjie">
        <span  class="span4">{{charsObj.text.synopsis.title}}</span>
        <span class="span5">{{charsObj.text.synopsis.text}}</span>
    </div>
    <!--按钮-->
    <div id="btn">
      <a href="#"><button class="btn3" >开&nbsp;&nbsp;&nbsp;&nbsp;户</button></a>
      <a href="#"><button class="btn4" >投&nbsp;&nbsp;&nbsp;&nbsp;顾</button></a>
      <a href="#"><button >理财超市</button></a>
    </div>
    <!--发帖标题区-->
    <div id="ft" style="">
      <span class="span6">精华<small>/88</small></span>
      <span class="span7">热门<small>/182</small></span>
      <span>全部<small>/365</small></span>
      <a href="#/post"><img src="../img/chats/fatie.png"></a>
      <!--<a href="#/post"><img src={{charsObj.images.pic[1]}}></a>-->
    </div>
    <!--发帖区-->
    <ion-list id="ftq">
      <ion-item>
        <img src="../img/chats/list1_09.jpg">
        <div >
           <span >带有标签栏的多标签界面的功能是，通过标签切换一组“页面”,在任何标签类...</span>
           <br>
           <!--<img(0) src="../img(0)/clock_12.png" style="width:14px;height: 14px;">-->
           <i class="icon ion-android-time i1"></i>
           <time>2016-4-1 14:26:05</time>
           <i class="icon ion-android-favorite-outline i2"></i>
           <span  class="span8">2018</span>
          <a href="#/comment">
            <i class="icon ion-chatbox-working i3"></i>
           <span  class="span8">198</span>
          </a>
           <i class="icon ion-forward i4"></i>
           <span  class="span8">198</span>
         </div>
      </ion-item>
      <ion-item >
        <img src="../img/chats/list1_09.jpg">
        <div >
          <span >带有标签栏的多标签界面的功能是，通过标签切换一组“页面”,在任何标签类...</span>
          <br>
          <!--<img(0) src="../img(0)/clock_12.png" style="width:14px;height: 14px;">-->
          <i class="icon ion-android-time i1"></i>
          <time>2016-4-1 14:26:05</time>
          <i class="icon ion-android-favorite-outline i2"></i>
          <span class="span8" >2018</span>
          <a href="#/comment">
            <i class="icon ion-chatbox-working i3" ></i>
            <span  class="span8">198</span>
          </a>
          <i class="icon ion-forward i4" ></i>
          <span class="span8">198</span>
        </div>
      </ion-item>
      <ion-item >
        <img src="../img/chats/list3_14.jpg" >
        <div>
          <span >带有标签栏的多标签界面的功能是，通过标签切换一组“页面”,在任何标签类...</span>
          <br>
          <!--<img(0) src="../img(0)/clock_12.png" style="width:14px;height: 14px;">-->
          <i class="icon ion-android-time i1" ></i>
          <time>2016-4-1 14:26:05</time>
          <i class="icon ion-android-favorite-outline i2"></i>
          <span class="span8" >2018</span>
          <a href="#/comment">
            <i class="icon ion-chatbox-working i3"></i>
            <span class="span8">198</span>
          </a>
          <i class="icon ion-forward i4"></i>
          <span class="span8">198</span>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
