<!--<ion-view>-->
  <!--<ion-content>-->
    <!--<ion-list>-->
      <!--<ion-item class="logo">-->
        <!--<img src="../images/001.png">-->
      <!--</ion-item>-->

      <!--<ion-item class="lists">-->
        <!--<img src="../images/002.png">-->
      <!--</ion-item>-->

      <!--<ion-item class="lists">-->
        <!--<img src="../images/003.png">-->
      <!--</ion-item>-->
      <!--<ion-item class="lists">-->
        <!--<img src="../images/004.png">-->
      <!--</ion-item>-->
      <!--<ion-item class="lists" ng-click="goMessage()">-->
        <!--<img src="../images/005.png">-->
      <!--</ion-item><ion-item class="lists">-->
      <!--<img src="../images/006.png">-->
    <!--</ion-item>-->
      <!--<ion-item class="lists">-->
        <!--<img src="../images/007.png">-->
      <!--</ion-item>-->
      <!--<ion-item class="lists">-->
        <!--<img src="../images/008.png">-->
      <!--</ion-item>-->
      <!--<ion-item class="lists">-->
        <!--<img src="../images/009.png">-->
      <!--</ion-item>-->

    <!--</ion-list>-->
  <!--</ion-content>-->
<!--</ion-view>-->
<ion-tabs class="tabs-positive tabs-icon-only">

  <ion-tab title="首页" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline">
    <!-- 标签 1 内容 -->
  </ion-tab>

  <ion-tab title="关于" icon-on="ion-ios7-clock" icon-off="ion-ios7-clock-outline">
    <!-- 标签 2 内容 -->
  </ion-tab>

  <ion-tab title="设置" icon-on="ion-ios7-gear" icon-off="ion-ios7-gear-outline">
    <!-- 标签 3 内容 -->
  </ion-tab>

</ion-tabs>

